.about {
    color: white;
    display: flex;
    margin: 5%;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.aboutPara{
    margin-block-start: 2em;
}

h2 {
    padding-top: 25px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#profilePic { 
    border-style: solid;
    max-width: 15%;
}

hr {
    background-color: white;
    box-shadow: 5px 5px 5px white;
}  

.tag {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: rgb(151, 150, 150);
    text-transform: capitalize;
}

.skills {
    font-family: 'Merienda', cursive;
    margin-bottom: 10%;
    font-size: larger;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .skills {
      margin-bottom: 15%;
    }
}

@media screen and (max-width: 992px) {
    #profilePic {
      margin-left: 25%; 
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .about {
        display: grid;
    }
}

@media (min-width: 1200px) {
    h2 {
        padding: 5px;
    }
}

@media (min-width: 600px) {
    h2 {
        padding: 5px;
    }
}
