.about {
    display: flex;
    margin: 5%;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

h2 {
    padding-top: 25px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(201, 124, 124, 0.8);
}

#profilePic { 
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    max-width: 15%;
}

.tag {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: black;
    text-transform: capitalize;
}

.skills {
    font-family: 'Merienda', cursive;
    margin-bottom: 10%;
    font-size: larger;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 600px) {
    .skills {
      margin-bottom: 15%;
    }
}

@media screen and (max-width: 600px) {
    #profilePic {
      margin-left: 25%;
      max-width: 50%;
    }
}

@media (max-width: 600px) {
    .about {
        display: grid;
    }
}

@media (max-width: 600px) {
    h2 {
        padding: 5px;
    }
}
