.footer {
    color:rosybrown;
    font-size: 15px;
    position: relative;
    text-align: center;
    left: 0px;
    bottom: 50px;
    height: 100px;
    width: 100%;
}

.footerConnectCont {
    text-transform: uppercase;
    background-color: #343a40;
    padding: 10px
}

.linkedImg, .gitImg{
    margin-left: 20px;
    max-width: 40px;
}

.footerNavCont {
    background-color: black;
    text-align: center;
    position: relative;
    padding: 50px 0px 30px 0px;
}

#mm {
    margin: 0%;
}

.topButton {
    bottom: 0px;
    left: 50%;
    color: #f4f5ff;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    padding: 13px 15px 15px 15px;
    background-color: rgba(0,0,0,.15);
}
