body {
    background: rgb(201, 124, 124);
    background-image: url("../assets/chevron.jpg");
    min-height: 100%;
    background-blend-mode: exclusion;
    background-repeat: round;
}

nav {
    box-shadow: 10px 10px 10px black;
}

.navbar-brand {
    font-family:'Poiret One', cursive;
    font-size: 55px;
}

.navbar-toggler {
    margin-left: 37%;
}

.content {
    color: rgb(201, 124, 124);
    font-family: 'Merienda', cursive;
    font-size: larger;
    margin-block-start: 6%;
}

@media screen and (max-width: 600px) {
    .navbar-toggler {
      margin-left: 42%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-nav, .nav-link, .content {
      text-align: -webkit-center;
    }
}
