body {
    background: black;
    min-height: 100%;
    background-blend-mode: exclusion;
    background-repeat: round;
}

nav {
    box-shadow: 10px 10px 10px white;
}

.nav-item {
    font-size: x-large;
    font-family: 'Poiret One', cursive;
}

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 55px;
}

.navbar-toggler {
    margin-left: 37%;
}

.content {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: larger;
    margin-block-start: 6%;
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .navbar-toggler {
      margin-left: 42%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .navbar-nav, .nav-link, .content {
      text-align: -webkit-center;
    }
}
