.container {
    margin-left: 2%;
    text-transform: capitalize;
    margin-bottom: 8%;
    width: 30%;
    display: inline-grid;
}

.imgBox {
    position: relative;
    overflow: hidden;
}

.imgBoxText {
    background-color: darkolivegreen;
}

.imgCont {
    position: relative;
}

.img-fluid{
    margin-left: 25%;
	max-width: 50%;
}

.colorElement {
	position:absolute;
	top:50%;
	left:50%;
	pointer-events:none;
	width:calc(100% - 50px);
	height:calc(100% - 50px);
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}

.imgBox .colorElement {
	box-shadow:inset 0px 0px 0px 0px rgba(255,255,255,.25);
	transition:all ease .5s;
}

.imgBox:hover .colorElement {
	box-shadow:inset 0px 0px 0px 40px rgba(255,255,255,.25);
	transition:all ease .5s .75s;
}

.colorElement:before {
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:0%;
	height:0%;
	opacity:0;
	border-top: 1px #fff solid;
	border-left: 1px #fff solid;
	transition:all ease .25s .25s;
}

.colorElement:after {
	content:"";
	position:absolute;
	bottom:0px;
	right:0px;
	width:0%;
	height:0%;
	opacity:0;
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
	transition:all ease .25s .25s;
}

.imgBox:hover .colorElement:before,
.imgBox:hover .colorElement:after {
	width:100%;
	height:100%;
	opacity:1;
}

.imgBox:hover .colorElement:before {
	height:100%;
	transition:all ease .25s 0s;
}

.imgBox:hover .colorElement:after {
	width:100%;
	transition:all ease .25s 0s;
}

.imgBox .imgCont:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.25);
	transition: all ease .5s .5s;
}

.imgBox:hover .imgCont:after {
    box-shadow: inset 0px 0px 0px 25px rgba(0,0,0,0.25);
    transition: all ease .5s .5s;
}

.row {
	margin-bottom: 10%;
}

.imgBoxCont {
	transition: all ease .5s .25s;
    top: 0px;
    right: 0px;
    text-align: left;
} 

.imgBox .imgBoxCont:before {
	content: "";
    position: relative;
    top: 0px;
    left: 0px;
	width: 100%;
    height: 100%;
    opacity: .8;
}

.imgBoxText {
	transition: all ease .5s .25s;
	position: absolute;
    top: 50%;
    left: 0px;
    /* width: 100%; */
    padding: 0px 30px;
} 

.imgBox h2 {
	text-align: center;
	font-family: 'Merienda', cursive;
	font-size: 48px;
    line-height: 49px;
	margin: 0 0 0.3em;
	color: white;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-weight: bold;
}

.subtext {
	color: #fff;
	text-align: center;
} 

.subtext:hover {
    background-color: darkolivegreen;
}

.button {
	border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: darkolivegreen;
    border-color: rosybrown;
    color: #fff;
    transition: background-color 300ms ease-out;
}

.button a.button {
	text-transform: uppercase;
    text-decoration: none;
    margin: 0px 0px 1em 0px;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding: 0.8em 1em;
    color: #fefefe;
    transition: all 0.25s ease-out;
    text-align: center;
    line-height: 1;
    -webkit-appearance: none;
	vertical-align: middle;
	width: auto;
    letter-spacing: 2px;
    font-family: 'Proxima N W01 Reg', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

@media (max-width: 992px) {
    .imgBoxCont, .subtext {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .imgBoxText {
        display: none;
    }
}
  
  @media screen and (max-width: 992px) {
    .container {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }