body {
    background-color: rosybrown;
}

nav {
    box-shadow: 10px 5px 5px black;

}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 55px;
}

.navbar-toggler {
    margin-left: 37%;
}

.content {
    font-family: 'Merienda', cursive;
    font-size: larger;
    margin-block-start: 6%;
    color:rosybrown;
    margin-left: 10%;
}